/**
 * XSLT for Kirby
 *
 * hana+nils · Büro für Gestaltung
 * https://hananils.de · buero@hananils.de
 */

/**
 * Basics
 */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
        Arial, sans-serif;
    -webkit-overflow-scrolling: touch;
    background-color: #181b21;
    color: #efefef;
}

svg.k-icons {
    position: absolute;
    top: -100%;
    left: -100%;
}

p {
    font-size: 1.4rem;
    color: #b1b1b1;
    margin-top: 1.6rem;
}

/**
 * Layout
 */

.l-main {
    display: grid;
    grid-template-columns: 32rem auto;
}

.l-header {
    height: 4rem;
    background-color: #efefef;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #16171a;
    display: grid;
    grid-template-columns: 32rem auto;
}

.is-error .l-main,
.is-error .l-header {
    display: block;
}

.l-secondary {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: auto;
    height: calc(100vh - 4rem);
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.l-primary {
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: auto;
    height: calc(100vh - 4rem);
    background-color: #282c34;
    scroll-behavior: smooth;
}

/**
 * Utilities
 */

.is-hidden {
    position: absolute;
    top: -100%;
    left: -100%;
}

/**
 * Icons
 */

.has-icon {
    display: flex;
    align-items: center;
}

.m-icon {
    margin-right: 1.4rem;
    transform: translateY(0.2rem);
    display: inline-block;
}

.m-icon svg {
    height: 1.6rem;
    fill: #fff;
}

.l-header .m-icon svg {
    fill: #16171a;
}

.m-icon-label {
    display: inline-block;
}

/**
 * Site
 */

.m-site-title {
    font-weight: normal;
    font-size: 1.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    line-height: 4rem;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * Search
 */

.m-search {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    display: flex;
    flex-direction: row-reverse;
}

.m-search-button {
    height: 4rem;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
}

.m-search-field {
    height: 4rem;
    border: none;
    background-color: #efefef;
    font-size: 1.4rem;
    color: #f5871f;
    flex-grow: 1;
    padding: 0 1.6rem 0 0;
}

.m-search-field::placeholder {
    color: #777;
}

/**
 * Header
 */

.m-header {
    border-bottom: 0.1rem solid hsla(180, 2%, 55%, 0.6);
    margin-bottom: 3.2rem;
}

.m-header-title {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.15em;
    margin-bottom: 0.8rem;
    margin-top: 4vh;
}

.m-header-title a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.m-header-nav {
    display: flex;
    justify-content: flex-start;
    padding: 1.6rem 0;
    min-height: 3.8rem;
}

.m-header-nav-item {
    font-size: 1.4rem;
    color: #b1b1b1;
    transform: color 0.25s ease-in;
    text-decoration: none;
}

.m-header-nav-item:hover {
    color: #fff;
}

.m-header-nav-item + .m-header-nav-item {
    margin-left: 2.4rem;
}

/**
 * Index
 */

.m-index {
    padding-bottom: 4vh;
}

.m-index-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.m-index-nodes,
.m-index-subnodes {
    list-style: none;
}

.m-index-nodes .m-icon {
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
}

.m-index-nodes .m-icon svg {
    height: 1.3rem;
    fill: #fff;
}

.m-index-node {
    background-color: #111317;
    border-top: 0.1rem solid #181b21;
    border-bottom: 0.1rem solid #181b21;
}

.m-index-subnode {
    border-top: 0.1rem solid #16181c;
}

.m-index-actions {
    display: flex;
}

.m-index-link {
    color: #efefef;
    text-decoration: none;
    padding: 1rem 0 0.8rem;
    display: block;
    font-size: 1.4rem;
    min-height: 3.8rem;
    width: 100%;
    padding-left: 1.2rem;
}

.m-index-subnode .m-index-link {
    padding-left: 0;
}

.m-index-switch {
    border: none;
    background: none;
    width: 3.8rem;
    height: 3.8rem;
    cursor: pointer;
}

.m-index-switch .m-icon svg {
    fill: #a7bd68;
}

.m-index-actions.is-collapsed + ul .m-icon svg {
    fill: #666;
}

.m-index-actions.is-collapsed .m-index-switch svg {
    fill: #c82829;
}

.m-index-actions.is-collapsed + ul .m-index-switch svg {
    fill: #48191c;
}

.m-index-actions.is-collapsed .m-index-link,
.m-index-actions.is-collapsed + ul .m-index-link {
    color: #666;
}

/* Execution time */

.m-execution-time {
    color: #666;
    font-style: normal;
    font-size: 1.2rem;
    float: right;
    padding-top: 0.2rem;
    transition: color 0.25s ease-in;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
        monospace;
}

.m-execution-time.is-high {
    color: #c82829;
}

.m-execution-time:hover {
    color: #efefef;
}

/* Cache */

.m-cache {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    align-items: center;
}

.m-cache svg {
    height: 1.6rem;
    fill: #fff;
    width: 1.6rem;
}

.m-cache-state {
    flex-grow: 0;
    margin-right: 0.8rem;
    margin-top: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-cache-summary {
    flex-grow: 1;
    margin-top: 0;
}

.m-cache-delete {
    width: 3.8rem;
    height: 3.8rem;
    background: none;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    flex-grow: 0;
    padding: 0;
    text-align: right;
}

.m-cache-delete svg {
    fill: #b1b1b1;
}

.m-cache-delete:hover svg {
    fill: #fff;
    cursor: pointer;
}

/* Stats */

.m-stats {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.4rem;
    color: #b1b1b1;
    line-height: 2rem;
    width: 100%;
}

.m-stats td {
    padding-bottom: 0.4rem;
}

.m-stats td:last-child {
    text-align: right;
}

.m-stats tbody tr:last-child td {
    padding-bottom: 0.8rem;
}

.m-stats tfoot td {
    border-top: 0.1rem solid #5d6163;
    padding-top: 0.8rem;
}

.m-stats time {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
        monospace;
}

/**
 * Errors
 */

.m-error-title {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-top: 0;
    line-height: 4rem;
    color: #16171a;
}

.m-errors {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    font-size: 1.4rem;
    background-color: #cc6666;
    z-index: 20000;
    max-height: 13rem;
    overflow: scroll;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.m-errors:empty {
    display: none;
}

.m-errors::after {
    content: '';
    height: 6rem;
    background-image: linear-gradient(
        to top,
        rgba(204, 102, 102, 1) 0,
        rgba(204, 102, 102, 0) 100%
    );
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.m-errors-entry + .m-errors-entry {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.m-errors-entry:last-of-type {
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.m-errors a {
    color: #fff;
    padding: 0 2.4rem;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    min-height: 3.8rem;
    padding: 1rem 2.4rem 0.8rem;
}

.m-errors code {
    font-size: 1.4rem;
    display: inline-block;
    border: none;
    padding: 0;
}

/**
 * XML
 */

pre {
    min-height: 100vh;
}

pre.is-invalid {
    color: #8a8e94;
}

pre,
code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
        monospace;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    white-space: pre-wrap;
    display: block;
}

code {
    padding: 1.2rem 0;
    z-index: 1000;
    position: relative;
    counter-reset: linenumber;
    border-left: 0.1rem solid #282c34;
}

/* Nodes */

a[id] {
    height: 0;
    transform: translateY(calc(-1.8rem * 5));
    display: block;
}

a:target + .node .line,
a:target + .node .line > *,
.node:target .line {
    background-color: #191b20;
}

a:target + .node.is-matching .line,
a:target + .node.is-matching .line > * {
    background-color: #37557d;
}

.is-matching .line,
.is-matching .line > *,
.node.is-source:target .line,
.node.has-errored-sequentially:target .line {
    color: #fff;
    background-color: #4271ae;
}

.is-matching .line,
.has-errored .line,
.is-source .line,
.node.is-source:target .line,
.node.has-errored-sequentially:target .line,
.node:target .line {
    background-image: repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 0,
        rgba(255, 255, 255, 0.1) 0.1rem,
        transparent 0.1rem,
        transparent 1.8rem
    );
}

/* Lines */

.node.is-collapsed > .line ~ * {
    display: none;
}

.node.is-collapsed > .line::after {
    content: '…</' attr(data-name) '>';
    color: #8a8e94;
}

.line {
    padding: 0.1rem 1.2rem 0 4.5rem;
    border-bottom: 0.1rem solid transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    line-height: 1.6rem;
    background-color: #282c34;
    z-index: 11000;
    background-image: repeating-linear-gradient(
        to right,
        hsl(222, 9%, 22%) 0,
        hsl(222, 9%, 22%) 0.1rem,
        transparent 0.1rem,
        transparent 1.8rem
    );
    background-position: 4.5rem 0;
    background-repeat: no-repeat;
    background-size: 1.8rem 100%;
}

.node[data-depth='1'] .line {
    top: 1.8rem;
    z-index: 10000;
    padding-left: calc(4.5rem + 1.8rem);
}

.node[data-depth='2'] .line {
    top: calc(1.8rem * 2);
    z-index: 9000;
    padding-left: calc(4.5rem + 1.8rem * 2);
    background-size: calc(1.8rem * 2) 100%;
}

.node[data-depth='3'] .line {
    top: calc(1.8rem * 3);
    z-index: 8000;
    padding-left: calc(4.5rem + 1.8rem * 3);
    background-size: calc(1.8rem * 3) 100%;
}

.node[data-depth='4'] .line {
    top: calc(1.8rem * 4);
    z-index: 7000;
    padding-left: calc(4.5rem + 1.8rem * 4);
    background-size: calc(1.8rem * 4) 100%;
}

.node[data-depth='5'] .line {
    top: calc(1.8rem * 5);
    z-index: 6000;
    padding-left: calc(4.5rem + 1.8rem * 5);
    background-size: calc(1.8rem * 5) 100%;
}

.node[data-depth='6'] .line {
    top: calc(1.8rem * 6);
    z-index: 5000;
    padding-left: calc(4.5rem + 1.8rem * 6);
    background-size: calc(1.8rem * 6) 100%;
}

.node[data-depth='7'] .line {
    top: calc(1.8rem * 7);
    z-index: 5000;
    padding-left: calc(4.5rem + 1.8rem * 7);
    background-size: calc(1.8rem * 7) 100%;
}

.node[data-depth='8'] .line {
    top: calc(1.8rem * 8);
    z-index: 5000;
    padding-left: calc(4.5rem + 1.8rem * 8);
    background-size: calc(1.8rem * 8) 100%;
}

.node[data-depth='9'] .line {
    top: calc(1.8rem * 9);
    z-index: 5000;
    padding-left: calc(4.5rem + 1.8rem * 9);
    background-size: calc(1.8rem * 9) 100%;
}

.node[data-depth='10'] .line {
    top: calc(1.8rem * 10);
    z-index: 5000;
    padding-left: calc(4.5rem + 1.8rem * 10);
    background-size: calc(1.8rem * 10) 100%;
}

.line::before {
    content: counter(linenumber);
    counter-increment: linenumber;
    color: rgba(255, 255, 255, 0.4);
    display: block;
    padding-right: 0.8rem;
    text-align: right;
    position: absolute;
    left: 0;
    width: 4.2rem;
}

.line > * {
    padding: 0.1rem 0;
    display: inline-block;
    text-decoration: none;
    background-color: #282c34;
}

.line.is-ref {
    background-color: #cc6666;
    color: #fff;
}

.has-errored *,
.line.has-errored,
.is-source * {
    color: #16171a;
    background-color: #b294bb;
}

.has-errored-sequentially .line {
    color: #fff;
    background-color: rgba(178, 148, 187, 0.2);
}

.has-errored .tag,
.is-source .tag {
    color: #cc6666;
}

.line.is-ref::before,
.has-errored .line::before,
.line.has-errored::before,
.line.is-source::before {
    color: rgba(255, 255, 255, 0.5);
}

/* Syntax */

.tag {
    color: #8abeb7;
}

.is-matching .tag {
    color: #82d7cb;
}

.prolog {
    color: #b294bb;
}

.punctuation {
    color: #dee0e3;
}

.attr-name {
    color: rgba(255, 255, 255, 0.4);
}

.attr-value {
    color: #a4d6ff;
}

.is-matchgin .attr-value {
    color: #94cfff;
}

/* Line numbers */

.linenumber {
    position: absolute;
    left: 0;
    width: 3.2rem;
}

.linenumber::before {
    content: counter(linenumber);
    counter-increment: linenumber;
    color: #8a8e94;
    display: block;
    padding-right: 0.8rem;
    text-align: right;
}
